#!/system/bin/sh
cd ${0%/*} # current working directory
source "$(pwd)/settings.ini"

disable_ipv6() {
  sysctl -w net.ipv4.ip_forward=1
  sysctl -w net.ipv6.conf.all.forwarding=0
  sysctl -w net.ipv6.conf.all.accept_ra=0
  sysctl -w net.ipv6.conf.wlan0.accept_ra=0
  sysctl -w net.ipv6.conf.all.disable_ipv6=1
  sysctl -w net.ipv6.conf.default.disable_ipv6=1
  sysctl -w net.ipv6.conf.wlan0.disable_ipv6=1
  ip -6 rule add unreachable pref 100 || true
}

ipv6_enable() {
  sysctl -w net.ipv4.ip_forward=1
  sysctl -w net.ipv6.conf.all.forwarding=1
  sysctl -w net.ipv6.conf.all.accept_ra=2
  sysctl -w net.ipv6.conf.wlan0.accept_ra=2
  sysctl -w net.ipv6.conf.all.disable_ipv6=0
  sysctl -w net.ipv6.conf.default.disable_ipv6=0
  sysctl -w net.ipv6.conf.wlan0.disable_ipv6=0
  ip -6 rule del unreachable pref 100 || true
}

add_tproxy_rules() {
  local ip_cmd="$1"
  local ipt_cmd="$2"
  local chain="$3"
  local subnets="$4"

  ${ip_cmd} rule add fwmark "${FWMARK}" table "${TABLE}" priority 1000
  ${ip_cmd} route add local default dev lo table "${TABLE}"

  ${ipt_cmd} -t mangle -N ${chain}_EXTERNAL
  ${ipt_cmd} -t mangle -F ${chain}_EXTERNAL
  ${ipt_cmd} -t mangle -N ${chain}_LOCAL
  ${ipt_cmd} -t mangle -F ${chain}_LOCAL
  ${ipt_cmd} -t mangle -N ${chain}_BLOCK_LOOPBACK
  ${ipt_cmd} -t mangle -F ${chain}_BLOCK_LOOPBACK

  ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${CORE_UID} --gid-owner ${CORE_GID} -j RETURN
  
  for proto in udp tcp; do
    ${ipt_cmd} -t mangle -A ${chain}_LOCAL -p ${proto} --dport 53 -j MARK --set-xmark ${FWMARK}
    ${ipt_cmd} -t mangle -A ${chain}_EXTERNAL -p ${proto} --dport 53 -j TPROXY --on-port ${tport} --tproxy-mark ${FWMARK}
  done
  
  for subnet in ${subnets}; do
    ${ipt_cmd} -t mangle -A ${chain}_EXTERNAL -d ${subnet} -j RETURN
    ${ipt_cmd} -t mangle -A ${chain}_LOCAL -d ${subnet} -j RETURN
  done

  ${ipt_cmd} -t mangle -A ${chain}_EXTERNAL -j ${chain}_BLOCK_LOOPBACK
  ${ipt_cmd} -t mangle -A ${chain}_LOCAL -j ${chain}_BLOCK_LOOPBACK

  for proto in udp tcp; do
    ${ipt_cmd} -t mangle -A ${chain}_EXTERNAL -p ${proto} -j TPROXY --on-port "${tport}" --tproxy-mark "${FWMARK}"
  done

  if [[ -n "${AIDs}" ]]; then
    for AID in ${AIDs[@]}; do
      ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${AID} -p tcp -j MARK --set-xmark ${FWMARK}
      ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${AID} -p udp -j MARK --set-xmark ${FWMARK}
    done
  fi

  case "${PROXY_MODE}" in
  "blacklist")
    if [[ ${#uids[@]} -gt 0 ]]; then
      for appid in ${uids[*]}; do
        ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${appid} -p tcp ! --dport 53 -j RETURN
        ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${appid} -p udp ! --dport 53 -j RETURN
      done
      ${ipt_cmd} -t mangle -A ${chain}_LOCAL -j MARK --set-xmark ${FWMARK}
    else
      ${ipt_cmd} -t mangle -A ${chain}_LOCAL -j MARK --set-xmark ${FWMARK}
    fi
    ;;
  "whitelist")
    if [[ ${#uids[@]} -gt 0 ]]; then
      for appid in ${uids[*]}; do
        ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${appid} -p tcp -j MARK --set-xmark ${FWMARK}
        ${ipt_cmd} -t mangle -A ${chain}_LOCAL -m owner --uid-owner ${appid} -p udp -j MARK --set-xmark ${FWMARK}
      done
    else
      ${ipt_cmd} -t mangle -A ${chain}_LOCAL -j MARK --set-xmark ${FWMARK}
    fi
    ;;
  *)
    ${ipt_cmd} -t mangle -A ${chain}_LOCAL -j MARK --set-xmark ${FWMARK}
    toast "GLOBAL PROXY, CHECK PROXY_MODE"
    ;;
  esac

  ${ipt_cmd} -t mangle -A PREROUTING -j ${chain}_EXTERNAL
  ${ipt_cmd} -t mangle -A OUTPUT -j ${chain}_LOCAL
}

del_tproxy_rules() {
  local ip_cmd="$1"
  local ipt_cmd="$2"
  local chain="$3"

  ${ip_cmd} rule del fwmark "${FWMARK}" table "${TABLE}" priority 1000
  ${ip_cmd} route del local default dev lo table "${TABLE}"
  ${ip_cmd} route flush table "${TABLE}"
  ${ipt_cmd} -t mangle -D PREROUTING -j ${chain}_EXTERNAL
  ${ipt_cmd} -t mangle -D OUTPUT -j ${chain}_LOCAL
  ${ipt_cmd} -t mangle -F ${chain}_EXTERNAL
  ${ipt_cmd} -t mangle -F ${chain}_LOCAL
  ${ipt_cmd} -t mangle -F ${chain}_BLOCK_LOOPBACK
  ${ipt_cmd} -t mangle -X ${chain}_EXTERNAL
  ${ipt_cmd} -t mangle -X ${chain}_LOCAL
  ${ipt_cmd} -t mangle -X ${chain}_BLOCK_LOOPBACK
}

run_add_tproxy_rules() {
  add_tproxy_rules "ip -4" "${IPV}" "${CHAIN_NAME}4" "${intranet4[*]}"
  [[ "${IPV6}" == "false" ]] && return 1
  add_tproxy_rules "ip -6" "${IP6V}" "${CHAIN_NAME}6" "${intranet6[*]}"
}

run_del_tproxy_rules() {
  del_tproxy_rules "ip -4" "${IPV}" "${CHAIN_NAME}4"
  [[ "${IPV6}" == "false" ]] && return 1
  del_tproxy_rules "ip -6" "${IP6V}" "${CHAIN_NAME}6"
}

quic_rules() {
  local ipt_cmd="$1"
  local action="$2"

  ${ipt_cmd} ${action} OUTPUT -p udp --dport 443 -m owner ! --uid-owner ${CORE_UID} ! --gid-owner ${CORE_GID} -j REJECT
  ${ipt_cmd} ${action} OUTPUT -p udp --dport 80 -m owner ! --uid-owner ${CORE_UID} ! --gid-owner ${CORE_GID} -j REJECT
}

run_add_quic_rules() {
  if [ "${QUIC}" = "disable" ]; then
    quic_rules "${IPV}" "-I"
    [[ "${IPV6}" == "false" ]] && return 1
    quic_rules "${IP6V}" "-I"
  fi
}

run_del_disable_quic() {
  if [ "${QUIC}" = "disable" ]; then
    quic_rules "${IPV}" "-D"
    [[ "${IPV6}" == "false" ]] && return 1
    quic_rules "${IP6V}" "-D"
  fi
}

start_tproxy() {
  [ -f "${LOG_DIR}/pid.txt" ] && stop_tproxy
  check_files_complete
  runExternalKernel enable 
  { init_base; init_dns; init_route; init_uids; }
  { [[ "${IPV6}" == "true" ]] && ipv6_enable || disable_ipv6; } >/dev/null 2>&1
  { run_add_tproxy_rules; run_add_quic_rules; } >/dev/null 2>&1
  fw_clean iptables
  fw_clean ip6tables
  ulimit -SHn 1000000
  nohup busybox setuidgid ${CORE_UID}:${CORE_GID} ${CORE} run -confdir ${CONF_DIR} >/dev/null 2>&1 &
  PID_CORE=$!
  cron_task
  pid-record
  toast "🤪NetProxy ENABLED"
}

stop_tproxy() {
  if [ -f "${LOG_DIR}/pid.txt" ]; then
    { run_del_tproxy_rules; run_del_disable_quic; } >/dev/null 2>&1
    ip -6 rule del unreachable pref 100 >/dev/null 2>&1
    while IFS=: read name pid; do
      kill -9 "${pid}"
    done < "${LOG_DIR}/pid.txt"
    find "$(dirname "$(pwd)")" -type f \( -name "*.log" -o -name "*.txt" -o -name "*.list" -o -name "root" \) -exec rm -f {} +
  fi
  toast "🥴NetProxy DISABLED"
}

case "$1" in enable) start_tproxy ;; disable) stop_tproxy ;; esac

# Last edited: 2026.3.27
