#!/system/bin/sh
scripts_dir="$(cd "$(dirname "$0")" && pwd)"
. "${scripts_dir}/settings.ini"

ipv6_disable() {
  sysctl -w \
  net.ipv4.ip_forward=1 \
  net.ipv6.conf.all.forwarding=0 \
  net.ipv6.conf.all.accept_ra=0 \
  net.ipv6.conf.wlan0.accept_ra=0 \
  net.ipv6.conf.all.disable_ipv6=1 \
  net.ipv6.conf.default.disable_ipv6=1 \
  net.ipv6.conf.wlan0.disable_ipv6=1
  ip -6 rule add unreachable pref 100 2>/dev/null || true
}

ipv6_enable() {
  sysctl -w \
  net.ipv4.ip_forward=1 \
  net.ipv6.conf.all.forwarding=1 \
  net.ipv6.conf.all.accept_ra=2 \
  net.ipv6.conf.wlan0.accept_ra=2 \
  net.ipv6.conf.all.disable_ipv6=0 \
  net.ipv6.conf.default.disable_ipv6=0 \
  net.ipv6.conf.wlan0.disable_ipv6=0
  ip -6 rule del unreachable pref 100 2>/dev/null || true
}

tp_add() {
  ${1} rule add fwmark "${FWMARK}" table "${TABLE}" priority 1000
  ${1} route add local default dev lo table "${TABLE}"

  ${2} -t mangle -N ${3}_PREROUTING
  ${2} -t mangle -F ${3}_PREROUTING
  ${2} -t mangle -N ${3}_OUTPUT
  ${2} -t mangle -F ${3}_OUTPUT
  
  ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${CORE_UID} --gid-owner ${CORE_GID} -j RETURN

  for subnet in ${4}; do
    ${2} -t mangle -A ${3}_PREROUTING -d ${subnet} -j RETURN
    ${2} -t mangle -A ${3}_OUTPUT -d ${subnet} -j RETURN
  done

  for proto in udp tcp; do
    ${2} -t mangle -A ${3}_PREROUTING -p ${proto} -j TPROXY --on-port "${tport}" --tproxy-mark "${FWMARK}"
    ${2} -t mangle -I ${3}_OUTPUT -p ${proto} --dport 53 -j MARK --set-xmark ${FWMARK}
    ${2} -t mangle -I ${3}_PREROUTING -p ${proto} --dport 53 -j TPROXY --on-port ${tport} --tproxy-mark ${FWMARK}
  done

  if [[ -n "${AIDs}" ]]; then
    for AID in ${AIDs[@]}; do
      ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${AID} -p tcp -j MARK --set-xmark ${FWMARK}
      ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${AID} -p udp -j MARK --set-xmark ${FWMARK}
    done
  fi

  case "${PROXY_MODE}" in
  "blacklist")
    if [[ ${#uids[@]} -gt 0 ]]; then
      for appid in ${uids[*]}; do
        ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${appid} -p tcp ! --dport 53 -j RETURN
        ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${appid} -p udp ! --dport 53 -j RETURN
      done
      ${2} -t mangle -A ${3}_OUTPUT -j MARK --set-xmark ${FWMARK}
    else
      ${2} -t mangle -A ${3}_OUTPUT -j MARK --set-xmark ${FWMARK}
    fi
    ;;
  "whitelist")
    if [[ ${#uids[@]} -gt 0 ]]; then
      for appid in ${uids[*]}; do
        ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${appid} -p tcp -j MARK --set-xmark ${FWMARK}
        ${2} -t mangle -A ${3}_OUTPUT -m owner --uid-owner ${appid} -p udp -j MARK --set-xmark ${FWMARK}
      done
    else
      ${2} -t mangle -A ${3}_OUTPUT -j MARK --set-xmark ${FWMARK}
    fi
    ;;
  *)
    ${2} -t mangle -A ${3}_OUTPUT -j MARK --set-xmark ${FWMARK}
    toast "GLOBAL PROXY, CHECK PROXY_MODE"
    ;;
  esac

  ${2} -t mangle -A PREROUTING -j ${3}_PREROUTING
  ${2} -t mangle -A OUTPUT -j ${3}_OUTPUT
}

tp_del() {
  ${1} rule del fwmark "${FWMARK}" table "${TABLE}" priority 1000 2>/dev/null
  ${1} route del local default dev lo table "${TABLE}" 2>/dev/null
  ${1} route flush table "${TABLE}" 2>/dev/null
  ${2} -t mangle -D PREROUTING -j ${3}_PREROUTING 2>/dev/null
  ${2} -t mangle -D OUTPUT -j ${3}_OUTPUT 2>/dev/null
  ${2} -t mangle -F ${3}_PREROUTING 2>/dev/null
  ${2} -t mangle -F ${3}_OUTPUT 2>/dev/null
  ${2} -t mangle -X ${3}_PREROUTING 2>/dev/null
  ${2} -t mangle -X ${3}_OUTPUT 2>/dev/null
}

tp_apply() {
  tp_add "ip -4" "${IPv4}" "${CHAIN_NAME}4" "${intranet4[*]}"
  if [[ "${IPv6_enable}" == "enable" ]]; then
    tp_add "ip -6" "${IPv6}" "${CHAIN_NAME}6" "${intranet6[*]}"
  fi
}

tp_clear() {
  tp_del "ip -4" "${IPv4}" "${CHAIN_NAME}4"
  tp_del "ip -6" "${IPv6}" "${CHAIN_NAME}6"
}

quic_rules() {
  local ports="443,80"
  ${1} -t filter ${2} OUTPUT -p udp -m multiport --dports ${ports} -j DROP 2>/dev/null
  ${1} -t filter ${2} OUTPUT -p udp -m multiport --dports ${ports} -m owner --uid-owner ${CORE_UID} --gid-owner ${CORE_GID} -j RETURN 2>/dev/null
  ${1} -t filter ${2} FORWARD -p udp -m multiport --dports ${ports} -j DROP 2>/dev/null
}

reject_quic() {
  if [[ "${QUIC}" == "disable" ]]; then
    quic_rules "${IPv4}" "-I"
    [[ "${IPv6_enable}" == "enable" ]] && quic_rules "${IPv6}" "-I"
  fi
}

accept_quic() {
  quic_rules "${IPv4}" "-D" 
  quic_rules "${IPv6}" "-D"
}

tp_start() {
  [ -f "${LOG_DIR}/pid.txt" ] && tp_stop
  ensure_xray_assets
  find_packages_uid
  { [[ "${IPv6_enable}" == "enable" ]] && ipv6_enable || ipv6_disable; } >/dev/null 2>&1
  { tp_apply; reject_quic; } >/dev/null 2>&1
  fw_clean iptables
  fw_clean ip6tables
  ulimit -SHn 1000000
  nohup busybox setuidgid ${CORE_UID}:${CORE_GID} ${CORE} run -confdir ${CONF_DIR} >/dev/null 2>&1 &
  PID_CORE=$!
  [ -n "${PID_CORE}" ] && echo "pid_${CORE##*/}:${PID_CORE}" >"${LOG_DIR}/pid.txt"
  cron_task
  toast "🤪NetProxy ENABLED"
}

tp_stop() {
  if [ -f "${LOG_DIR}/pid.txt" ]; then
    { tp_clear; accept_quic; } >/dev/null 2>&1
    ip -6 rule del unreachable pref 100 >/dev/null 2>&1
    while IFS=: read name pid; do
      kill -9 "${pid}"
    done < "${LOG_DIR}/pid.txt"
    find "${PARENT_DIR}" -type f \( -name "*.log" -o -name "*.txt" -o -name "*.list" -o -name "root" \) -exec rm -f {} +
  fi
  toast "🥴NetProxy DISABLED"
}

case "$1" in enable) tp_start ;; disable) tp_stop ;; esac
